@model TShop.ViewModels.CheckOutVM
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Checkout Start -->
<div class="checkout">
    <div class="container">
        <form asp-action="CheckOut" asp-controller="Cart" enctype="multipart/form-data" method="post">
            <div class="row">
                <div class="col-md-7">
                    <div class="billing-address">
                        <h2>Billing Address</h2>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Full Name</label>
                                <input asp-for="@Model.UserName" class="form-control" type="text" placeholder="Full Name">
                            </div>
                            <div class="col-md-12">
                                <label>E-mail</label>
                                <input asp-for="@Model.Email" class="form-control" type="text" placeholder="E-mail">
                            </div>
                            <div class="col-md-12">
                                <label>Mobile No</label>
                                <input asp-for="@Model.Phone" class="form-control" type="text" placeholder="Mobile No">
                            </div>
                            <div class="col-md-12">
                                <label>Address</label>
                                <input asp-for="@Model.Address" class="form-control" type="text" placeholder="Address">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="checkout-summary">
                        <h2>Cart Total</h2>
                        <div class="checkout-content">
                            <h3>Products</h3>
                            @foreach (var item in Model.cartItems)
                            {
                                <p>@item.Name<span class="ml-auto">$@item.TotalPrice</span></p>
                            }
                            <h4 class="mt-4" asp-for="@Model.GrandTotal">Grand Total<span>$@Model.GrandTotal</span></h4>
                        </div>
                    </div>

                    <div class="checkout-payment">
                        <h2>Payment Methods</h2>
                        <div class="checkout-btn">
                            <input type="submit" name="payment" value="Place Order" style="width:100%" />
                        </div>
                        <div class="checkout-btn">
                            <input type="submit" name="payment" value="VNPay" style="width:100%" />
                        </div>
                        <div class="checkout-btn mt-4">
                            <div id="paypal-button-container" style="width:100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout End -->
@section Scripts {
    <script src="https://www.paypal.com/sdk/js?client-id=@ViewBag.PayPalClientId&components=buttons"></script>
    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            style: {
                layout: 'vertical',
                color: 'silver',
                tagline: 'false'
            },
            createOrder: (data, actions) => {
                return fetch("/Cart/create-paypal-order", {
                    method: "post",
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then(error => { throw error; });
                    }

                    return response.json();
                }).then((order) => order.id)
                    .catch(error => alert(error.message));
            },
            onApprove: (data, actions) => {
                return fetch(`/Cart/capture-paypal-order?orderId=${data.orderID}`, {
                    method: "post",
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then(error => { throw error; });
                    }

                    //Đổi địa chỉ tới action thông báo thành công
                    window.location.href = "/Cart/PaymentSuccess";
                }).catch(error => alert(error.message));
            }
        }).render('#paypal-button-container');
    </script>
}
