@model IEnumerable<TShop.ViewModels.CartItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Cart Start -->
<div class="cart-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@item.Id"><img src="~/image/@item.image" alt="Image @item.image"></a></td>
                                    <td><a data-product-id="@item.Id">@item.Name</a></td>
                                    <td id="Price">$@item.Price</td>
                                    <td>
                                        <div class="qty">
                                            <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                            <input id="quantityInput" type="text" value="@item.Quantity">
                                            <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </td>
                                    <td id="TotalPrice">$@item.TotalPrice</td>
                                    <td><button class="btn-remove"><i class="fa fa-trash"></i></button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="coupon">
                    <input type="text" placeholder="Coupon Code">
                    <button>Apply Code</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cart-summary">
                    <div class="cart-content">
                        <h3>Cart Summary</h3>
                        <p>Sub Total<span>$22</span></p>
                        <p>Shipping Cost<span>$1</span></p>
                        <h4 id="GrandTotal">Grand Total<span>$@Model.Sum(x => x.TotalPrice).ToString()</span></h4>
                    </div>
                    <div class="cart-btn">
                        <button>Update Cart</button>
                        <button>Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->
@section Scripts
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const minusButtons = document.querySelectorAll(".btn-minus");
            const plusButtons = document.querySelectorAll(".btn-plus");
            const removeButtons = document.querySelectorAll(".btn-remove");

            removeButtons.forEach(btn => {
                btn.addEventListener("click", function () {
                    updateBtnClick(btn);
                });
            });

            minusButtons.forEach(btn => {
                btn.addEventListener("click", function () {
                    updateBtnClick(btn);
                });
            });

            plusButtons.forEach(btn => {
                btn.addEventListener("click", function () {
                    updateBtnClick(btn);
                });
            });

            function updateBtnClick(btn) {
                var productId;
                document.querySelectorAll('a[data-product-id]').forEach(link => {
                    productId = link.getAttribute('data-product-id');
                });
                console.log('Product id:', productId);

                // Check if btn has class .btn-plus
                if (btn.classList.contains('btn-plus')) {
                    console.log('Clicked the Add button');

                    // Send Ajax request
                    sendData('AddCart', productId)

                    // Check if btn has class .btn-minus
                } else if (btn.classList.contains('btn-minus')) {
                    console.log('Clicked the Minus button');

                    // Send Ajax request
                    sendData('ReduceCart', productId)

                    // Check if btn has class .btn-remove
                } else if (btn.classList.contains('btn-remove')) {
                    console.log('Clicked the Remove button');

                    // Send Ajax request
                    sendData('RemoveCart', productId)
                }
            }

            function sendData(action, productId) {
                // Send Ajax request for update
                var xhr = new XMLHttpRequest();
                xhr.open('POST', `/Cart/${action}`, true);
                xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {

                        // Process results from the server (if necessary)
                        console.log('Data updated successfully!');

                        // Redirect to index page after success
                        window.location.href = '@Url.Action("Index", "Cart")';
                    }
                };
                xhr.send(JSON.stringify({ Id: productId, Quantity: 1 }));
            }
        });
    </script>
}
